.searchBar {
  padding: 1rem 1rem 2rem;

  .searchBar__form {
    display: flex;
    justify-content: space-between;
    border: 2px solid $bordercolor;
    border-radius: 100px;

    .searchBar__text {
      flex-grow: 1;
      border: none;
      margin-left: 0.5rem;
      background-color: $button-color;
      color: $font-color;
      width: calc(100% - 52px);
      font-size: 1.6rem;
      padding: 1.2rem;
      outline: none;
    }

    .searchBar__text::placeholder {
      color: $fadecolor;
    }

    .searchBar__button {
      border: none;

      i {
        font-size: 1.7rem;
      }
    }

    .searchBar__button:hover,
    .searchBar__button:focus {
      border: none;
      box-shadow: none;
      text-shadow: 4px 2px 5px $text-shadow-color;
    }
  }

  .searchBar__form:focus-within,
  .searchBar__form:hover {
    box-shadow: 4px 2px 5px $text-shadow-color;
  }
}
